/* Start General Layout elements */
.col1, .col-tabs, .col2, .col3, .col4, .col-li1, .col-li2 {
	float:left;
}
.col1 {
	width:309px;
}
.col-tabs {
	width:267px;
}
.col2 {
	width:650px;
}
.col-li1 {
	width:304px;
}
.col-li2 {
	width:210px;
}
.col3 {
	width:393px;
}
.col4 {
	width:576px;
}

.left {
	float:left;
}
.right {
	float:right;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
/* End General Layout elements */

/* Start body styles */
body {
	background:url(../images/bg.jpg) top center repeat;
	border:0;
	font:13px Arial, Helvetica, sans-serif;
	color:#323232;
	line-height:17px;
	width:100%;
	min-width: 1020px;
}
/* End body styles */

/* Start Sidebar */
.sidebar{
	position:fixed;
	top:300px;
	left:0;
	width:40px;
	height:140px;
	padding:5px;
}

.sidebar a {
	display:block;
	width:40px;
	line-height:29px;
	text-align:center;
	text-decoration:none;
	color:#0b77d6;
	font-size: 40px;
	margin-bottom: 7px;
}
.sidebar a:hover {
	color:#323232;
}
/* End Sidebar */

/* Start main-container & main */
.main-container {
	margin:0 0 0 50px;
	width:calc(100%-50px);
}

.main {
	width:970px;
	margin:0 auto !important;
	padding:0 5px;
}
/* End main-container & main */

/* Start header */
.header {
	overflow:hidden;
	width:100%;
}

.header-height {
	height:635px;
}

.header-height-small {
	height:570px;
}

.header h1 {
	padding:17px 0 0 0;
	float:left;
}

.header .img {
	vertical-align:top;
}

.header a {
	color:#f09e2f;
	text-decoration:underline;
	outline:none;
}
.header a:hover {
	text-decoration:none;
}

.header h2 {
	font-size:40px;
	text-transform:uppercase;
	font-weight:600;
	color:#3081c8;
	line-height:52px;
	padding:2px 0 33px 0;
}
.header p {
	padding-bottom:17px;
}

.header .logo {
	background:url(../images/logo.jpg) no-repeat;
	display:block;
	width:354px;
	height:101px;
	text-indent:-5000px;
}
.header .search-form {
	padding:46px 0 10px 0;
	float:right;
	padding:36px 0 10px 0;
}
.header .search-form .bg {
	background:url(../images/search.gif) no-repeat;
	width:247px;
	height:29px;
}
.header .search-form .submit {
	background:none;
	width:29px;
	height:29px;
	float:right;
	cursor:pointer;
}
.header .search-form .input {
	float:right;
	background:none;
	font:13px Arial, Helvetica, sans-serif;
	color:#303030;
	width:218px;
	height:28px;
	padding:6px 5px;
}
/*
.header .search-form .input:focus {
	outline: -webkit-focus-ring-color auto 5px;
}
*/
.header .top-nav {
	float:right;
	padding:0;
}
.header .top-nav li {
	float:left;
	padding-left:5px;
}
.header .top-nav a {
	display:block;
	background:url(../images/top-nav-bg.gif) no-repeat;
	background-color:#fff;
	width:79px;
	font-size:13px;
	line-height:29px;
	color:#323232;
	text-align:center;
	text-decoration:none;
}
.header .top-nav a:hover {
	color:#fff;
	background:#323232;
}
.header .menu {
	margin-top:32px;
	margin-bottom:25px;
	width:100%;
	overflow:hidden;
	height:62px;
	padding-bottom:1px;
	border-bottom:4px solid #323232;
}
.header .menu li {
	float:left;
}
.header .menu li a {
	display:block;
	font: 23px Arial, Helvetica, sans-serif;
	color:#fff;
	font-weight:600;
	padding:0 33.5px;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	text-decoration:none;
	text-transform:uppercase;
	line-height:57px;
}
.header .menu li a:hover {
	background:#323232;
}
.header .menu .end a {
	padding-right:36px;
}
.header .menu .nav1 {
	background-color:#3081c8;
}
.header .menu .nav2 {
	background-color:#8cbd20;
}
.header .menu .nav3 {
	background-color:#f09e2f;
}
.header .menu .nav4 {
	background-color:#b530ba;
}
.header .menu .nav5 {
	background-color:#30b6c9;
}
.header .tabs {
	width:100%;
	overflow:hidden;
}
.header .tabs li {
	float:left;
	padding-right:1px;
}
.header .tabs .end {
	padding:0;
}
.header .tabs a {
	display:block;
	width:66px;
	font-size:13px;
	line-height:31px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	background:url(../images/tabs-bg.gif) bottom repeat-x #3081c8;
	text-decoration:none;
}
.header .tabs a:hover, .header  .tabs .active {
	background:url(../images/bg-form.gif) repeat;
}
.header .tabs-cont {
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	background:url(../images/bg-form.gif) repeat;
	padding:30px 35px 28px;
}

.header .text {
	padding:7px 0 0 16px;
	width:100%;
}
.header .text h2 {
	font-size:30px;
	color:#323232;
	line-height:40px;
	padding:4px 0 15px 0;
	letter-spacing:-1px;
}
.header .text p {
	font-size:12px;
	font-weight:bold;
	color:#323232;
	line-height:20px;
	text-align:left;
	padding-bottom:25px;
}
.header .text img {
	margin-top:43px;
}
.header .img-container {
	width:384px;
	float:left;
}
.header .pad-bot-1st {
	padding-bottom:17px;
}
.header .pad-left {
	padding-left:22px;
}
.header .button {
	display:inline-block;
	font-size:16px;
	color:#fff;
	background:#f09e2f;
	line-height:35px;
	padding:0 16px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-weight:600;
	text-decoration:none;
	text-transform:uppercase;
}
.header .button:hover {
	background:#8cbd20;
}

.header .flight-form {
	color:#fff;
	line-height:24px;
}
.header .flight-form .input {
	float:right;
	background:#fff;
	width:133px;
	padding:1px 8px;
	font:12px Arial, Helvetica, sans-serif;
	color:#7f7f7f;
	height:16px;
	margin-top:3px;
}
.header .flight-form a {
	color:#439deb;
}
.header .flight-form .radio {
	float:left;
	padding-right:16px;
}
.header .flight-form .radio.end {
	padding-right:0;
	padding-bottom:10px;	
}
.header .flight-form .radio input {
	float:left;
	margin:5px 5px 0 0;
	height:12px;
	width:12px;
	overflow:hidden;
	padding:0;
}
.header .flight-form .check-box {
	margin-top:10px;
}
.header .flight-form .input2 {
	width:62px;
}
.header .flight-form select {
	width:58px;
	height:18px;
	padding:1px;
	margin-left:5px;
	margin-top:5px;
	display:inline-block;
}
.header .flight-form .button {
	float:right;
	font-size:12px;
	color:#fff;
	width:66px;
	line-height:26px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	background:#3081c8;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:0;
}
/* End header */

/* Start content */
.content {
	padding-top:35px;
	width:100%;
	overflow:hidden;
	padding-bottom:60px;
}
.content h2 {
	font-size:30px;
	text-transform:uppercase;
	font-weight:600;
	color:#3081c8;
	line-height:52px;
	padding:2px 0 33px 0;
}
.content h3 {
	font-size:25px;
	color:#fff;
	color:#fff;
	padding-left:35px;
	line-height:57px;
	margin-bottom:30px;
	background:#3081c8;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-transform:uppercase;
	font-weight:600;
}
.content .pad-bot-1st {
	padding-bottom:17px;
}
.content .pad-bot-2nd {
	padding-bottom:7px;
}
.content .pad-left {
	padding-left:42px;
}
.content .pad {
	padding:0 13px;
}
.content .marg-bot {
	margin-bottom:17px;
}
.content .marg-right {
	margin-right:18px;
}

.content .marker-1st, .content .marker-2nd {
	display:inline-block;
	background:url(../images/marker-1st.gif) 0 0 no-repeat;
	width:17px;
	height:17px;
}
.content .marker-2nd, .content .marker-1st:hover {
	background:url(../images/marker-2nd.gif) 0 0 no-repeat;
}
.content .marker-2nd:hover {
	background:url(../images/marker-1st.gif) 0 0 no-repeat;
}
.content .under {
	padding-bottom:20px;
	border-bottom:1px solid #cccccc;
	margin-bottom:20px;
}
.content .button {
	display:inline-block;
	font-size:14px;
	color:#fff;
	background:#f09e2f;
	line-height:35px;
	padding:0 16px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-weight:600;
	text-decoration:none;
	text-transform:uppercase;
}
.content .button:hover {
	background:#8cbd20;
}
.content .line1 {
	background:url(../images/line-ver.gif) 320px 0 repeat-y;
}
.content .list1 li {
	line-height:22px;
}
.content .list1 li a {
	padding-left:13px;
	background:url(../images/marker-3rd.gif) 0 5px no-repeat;
	color: #f09e2f;
  text-decoration: underline;
  outline: none;
}
/* End content */

/* Start Contact Form Section */
.ContactForm {
	margin-top:-10px;
	line-height:29px;
	font-weight:bold;
	width:638px;
}
.ContactForm a {
	margin-left:10px;
	width:86px;
	text-align:center;
	padding:0;
}
.ContactForm .input {
	float:left;
	margin-right:222px;
	width:335px;
	height:30px;
	border:1px solid #dcdcdc;
	background:#fff;
	padding:5px;
	margin-bottom:6px;
	color:#323232;
	font:13px Arial, Helvetica, sans-serif;
}
.ContactForm textarea {
	overflow:auto;
	float:left;
	width:500px;
	height:307px;
	border:1px solid #dcdcdc;
	background:#fff;
	padding:5px;
	margin-bottom:16px;
	color:#323232;
	font:13px Arial, Helvetica, sans-serif;
}
.ContactForm label {
	float:left;
	width:80px;
}
.ContactForm .controls {
	float:left;
	margin-left:400px;
}
/* End Contact Form Section */

/* Start footer */
.footer-container {
	background:url(../images/bg-footer.jpg) top center repeat;
	height:100px;
	width:100%;
}
.footer {
	width:960px;
	margin:0 auto;
	padding-top:31px;
	text-align:center;
	line-height:18px;
	color:#fff;
}
.footer a {
	color:#fff;
	text-decoration:none;
}
.footer .lf {
	float:left;
	margin:0;
	padding:0;
}
.footer .rf {
	float:right;
	margin:0;
	padding:0;
}
/* End footer */

/* Start My Framework */
.clearfix{ /* To fix the problems of the float property */
	clear:both
}
/* End My Framework */